.pagestyle {
  font-family: 'MerriweatherSans';
  text-align: center;
  padding: 20px 20px;
  background: #ffffff;
}

.pagestyle h2 {
  font-size: 32px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.pagestyle-grid {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.pagestyle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 400px;
  background: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.pagestyle-card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pagestyle-title {
  font-family: 'MerriweatherSans';
  background: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.pagestyle-title h3 {
  font-size: 20px;
  color: #000;
  margin: 0;
}

.card-description {
  flex-grow: 0;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #666;
  margin-bottom: auto;
}

.btn {
  align-self: center;
  margin-top: auto;
  padding: 10px 20px;
  background: black !important;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

.btn:hover {
  color: white !important;
  background: #5fcec8 !important;
  transform: scale(1.05);
}
