.pagestyle {
  text-align: center;
  padding: 50px 20px;
  background: #ffffff;
}

.pagestyle h2 {
  font-size: 32px;
  color: #000;
  margin-bottom: 30px;
}

.pagestyle-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.pagestyle-card {
  flex: 0 0 auto;
  width: 250px;
  background: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.2s ease;
}

.pagestyle-card:hover {
  transform: translateY(-5px);
}

.pagestyle-card img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1.51;
  border-radius: 8px;
  object-fit: cover;
  width: 100%; /* ocupă lățimea cardului */
  margin: auto;
}

.pagestyle-title {
  background: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
}

.pagestyle-title h3 {
  font-size: 20px;
  color: #000;
  margin: 15px 0;
}

.pagestyle-card p {
  font-size: 16px;
  color: #666;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: black!important;
  color: white!important;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  
}

.btn:hover {
  color: white!important;
  background: #5fcec8!important;
  transform: scale(1.05);
}
