.events {
  text-align: center;
  padding: 50px 20px;
  background: #f8f8f8;
}

.events h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 30px;
}

.events-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.event-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: left;
}

.event-card h3 {
  font-size: 20px;

  margin-bottom: 10px;
}

.event-card p {
  font-size: 16px;
  color: #666;
}
