.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  .footer .container {
    max-width: auto;
    margin: auto;
    padding: 0 20px;
  }
  .footer p {
    margin: 0;
  }
  