.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212528;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  .footer .container {
    align-items: center;
    flex-direction: column;
    max-width: auto;
    margin: auto;
    padding: 0 20px;
  }
  .footer p {
    margin: 0;
  }
  
.footer-logo {
  image-rendering: optimizeSpeed;
  position: relative;
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
  overflow: clip;
  display: inline-block;
}
.footer-citation{ /*this is the box for the footer citation */
border-bottom: 1px solid white;
border-top: 1px solid white;
text-align: center;
font-size: 16px;
line-height: 24px;
padding: 30px 60px 30px 60px;
margin: 30px 0 30px 0;
}
.footer h1{
color: #ffffff;
margin: 0 0 16px 0;
font-size: 42px;
line-height: 54.6px;
text-align: center;
word-spacing: 0px;
background-position: 0% 0%;

}

.footer h2{
  height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  word-spacing: 0px;
  }