.announcement {
    width: 100%;
    background: #521c6f;
    color: rgb(255, 255, 255);
    font-family: "brandon-grotesque", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 12px ;
}

.announcement .container {
    max-width: 1200px;
    margin: auto;
}

.announcement-text {
    line-height: 20.8px;
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    /*padding: 15px 0; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.header .logo img {  /*this is for logo image*/
    height: 100.23px;
    width: 84px; 
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header .nav-links li a {
    text-decoration: none;
    color: black; /*this is the text color*/
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 15px;
    padding: 30px; /*this makes the buttons bigger like the original website*/
}
/*this edits the text color*/
.header .nav-links li a:hover {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}
/*
.nav-links li a:hover {
    color: #0074bc;
}
    */

