.hero {
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/hero-bg.jpg") no-repeat center center/cover; /* setting a bg just for hero */
    background-attachment: scroll; /* makes the bkgroung not fixated */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}
  

.hero-banner {
  width: 100vw;
  height: 100vh;
  object-fit:contain ; /* the image takes al the space */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content {
  width: 100%;
  max-width:fit-content; /* checks f there is space for content */
  margin: 0 auto;
  z-index: 2;
  position:  relative;
}

.hero h1 {
  /* here are the edits for the H1 in Hero like color and all that*/
  font-size: 48px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
  
}

.hero p {
  font-family: brandon-grotesque, sans-serif;
  font-size: 22px;
  margin-bottom: 25px;
  color: black;
  font-weight: bold;
}

.link-button {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.btn {
  font-family: brandon-grotesque, sans-serif;
  display: inline-block;
  background: black;
  color: whitesmoke;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: white;
  color: black;
  
}

/* Responsivitate */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
  .hero p {
    font-size: 18px;
  }
  .btn {
    font-size: px;
    padding: 12px 24px;
  }
}
