.about-us {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.about-us .container {
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column; /*otherwise they will be shown side by side and i dont want that*/
    align-items: center;
    text-align: center;
    color: #ffffff !important;
}

.about-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.about-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #555;
}
.loading-text {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.error-text {
    text-align: center;
    font-size: 18px;
    color: red;
}
 /* this section is desig to optimsie performance of the CSS file. 
 it will reduce anumations*/
@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }

  /*this will add dark theme*/
  @media (prefers-color-scheme: dark) {
    .about-us {
      background-color: #ffffff;
      color: #ffffff;
    }
  }
  