@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather.woff2') format('woff2');
  font-display: swap;
}
/*because a warning lowered my score*/

/* layout styling for the Framework page */
.framework-page {
  font-family: 'MerriweatherSans';
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
  min-height: 100vh;
}

/*  container that allows max width layout */
.framework-page .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.framework-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #000;
  width: 100%;
  margin-bottom: 20px;
}

/* content section */
.framework-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* image responsive, scalable  and  clean */
.framework-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
