.framework-page {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #eef5f9;
  }
  
  .framework-page h2 {
    font-size: 32px;
    color: black;
  }
  

  .btn:hover {
    background: black;
   border-color: #000;
    background-origin: padding-box;
  }
  